/* to be copied on output webservice path */

.correct_btn{
    background-color: green;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.error_btn{
    background-color: red;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn_clicked_correct{
    background-color: grey;
    border: 1px solid black;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.btn_clicked_error{
    background-color: grey;
    border: 1px solid black;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.link_green {
    color: green;
}

.link_red {
    color: red;
}

.link_yellow {
    color: yellow;
}

.link_blu {
    color: blue;
}

.link_black {
    color: black;
    text-decoration: none;
}