  <!-- ========= Here starts the body ============================================================= -->
  
  <body class="patternViewPage">
    <div id="patternPage">
      <div id="twTopBar">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr style="background-image: url(https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/menu-gray-bg.png); background-repeat: repeat-x;">
            <td width="40"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/spacer.gif" width="40" height="1" alt="" /></td>
            <td width="95%">
              <div class="twTopMenuTab"> 
                <ul>
                  <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome" class="twikiCurrentWebHomeLink twikiLink"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/web-bg.gif" border="0" alt="" width="16" height="16" style="background-color:#3366FF " /> AtlasPublic Web <img src='https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/menu-down.gif' alt='' width='14' height='16' /></a> 
                    <ul>
                      <li> <a href="http://atlas.ch" target="_top">Official ATLAS Homepage</a> </li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/Atlas/WebHome" class="twikiLink"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/lock.gif" width="16" height="16" alt="Lock" title="Lock" border="0" /> Internal TWiki</a></li>
                    </ul> 
                  </li>
                  <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome" class="twikiCurrentWebHomeLink twikiLink"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/web-bg.gif" border="0" alt="" width="16" height="16" style="background-color:#3366FF " /> Physics Groups <img src='https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/menu-down.gif' alt='' width='14' height='16' /></a> 
                    <ul>
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/BPhysPublicResults" class="twikiLink">B Physics and Light States</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/StandardModelPublicResults" class="twikiLink">Standard Model physiscs</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/TopPublicResults" class="twikiLink">Top Physics</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/HiggsPublicResults" class="twikiLink">Higgs physics</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/HDBSPublicResults" class="twikiLink">Higgs and Diboson searches</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/SupersymmetryPublicResults" class="twikiLink">Supersymmetry searches</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/ExoticsPublicResults" class="twikiLink">Exotics searches</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/HeavyIonsPublicResults" class="twikiLink">Heavy Ions physics</a></li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/MCPublicResults" class="twikiLink">Physics Modelling</a></li>
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/UpgradePhysicsStudies" class="twikiLink">Upgrade Physics Studies</a></li>
                    </ul> 
                  </li> 
                  <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome" class="twikiCurrentWebHomeLink twikiLink"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/web-bg.gif" border="0" alt="" width="16" height="16" style="background-color:#3366FF " /> Other Groups <img src='https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/menu-down.gif' alt='' width='14' height='16' /></a> 
                    <ul>
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome#Combined_Performance_Groups_Simu" class="twikiCurrentWebHomeLink twikiAnchorLink">Combined Performance Groups, Simulation, Statistics</a>
                      </li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome#Detector_Systems_Luminosity_and" class="twikiCurrentWebHomeLink twikiAnchorLink">Detector Systems, Luminosity, Data Taking</a>
                      </li> 
                      <li> <a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic/WebHome#Upgrade_Projects_and_Physics_Pro" class="twikiCurrentWebHomeLink twikiAnchorLink">Upgrade Projects</a> 
                      </li>
                    </ul>
                  </li>
                </ul> 
              </div>
              <p />
            </td>
            <td width="40"><img src="https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/spacer.gif" width="40" height="1" alt="" /></td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:-13px">
          <tr style="background-image: url(https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/banner-bg.png); background-repeat: repeat-x;"><td width="40"><img src="https://twiki.cern.ch//twiki/pub/TWiki/TopMenuSkin/spacer.gif" width="40" height="58" alt="" /></td>
            <td width="30">
              <span id="twikiLogo" class="twikiImage"><a href="https://twiki.cern.ch/twiki/bin/view/AtlasPublic"><img src="https://twiki.cern.ch/twiki/pub/AtlasPublic/WebPreferences/AtlasDetector.png" border="0" alt="ATLAS" title="ATLAS" style="border:none;" /></a></span></td>
            <td align="right" style="background-image: url(https://twiki.cern.ch/twiki/pub/TWiki/TopMenuSkin/banner-net-bg.png); background-repeat: no-repeat;" class="patternMetaMenu">
              <!-- </pre> --> <ul>
                <li> 
                </li></ul> 
            </td>
            <td width="15"></td>
            <td width="165" valign="bottom"></td>
            <td width="40"></td>
          </tr>
        </table>
      </div> <!-- End of "twTopBar" -->
