The inclusive $J/\psi$ production cross-section and fraction of $J/\psi$ mesons produced in B-hadron decays are measured in proton-proton collisions at $\sqrt{s}$ = 7 TeV with the ATLAS detector at the LHC, as a function of the transverse momentum and rapidity of the $J/\psi$, using 2.3 pb.1 of integrated luminosity. The cross-section is measured from a minimum pT of 1 GeV to a maximum of 70 GeV and for rapidities within |y| < 2.4 giving the widest reach of any measurement of $J/\psi$ production to date. The differential production cross-sections of prompt and non-prompt $J/\psi$ are separately determined and are compared to Colour Singlet NNLO, Colour Evaporation Model, and FONLL predictions.
</br>
</br>
The inclusive J/psi production cross-section and fraction of J/psi mesons produced in B-hadron decays are measured in proton-proton collisions at sqrt(s) = 7 TeV with the ATLAS detector at the LHC, as a function of the transverse momentum and rapidity of the J/psi, using 2.3 pb-1 of integrated luminosity. The cross-section is measured from a minimum pT of 1 GeV to a maximum of 70 GeV and for rapidities within |y| < 2.4 giving the widest reach of any measurement of J/psi production to date. The differential production cross-sections of prompt and non-prompt J/psi are separately determined and are compared to Colour Singlet NNLO*, Colour Evaporation Model, and FONLL predictions.
</br>
</br>
CERN-LHC. Measurement of the inclusive J/PSI production cross section and the fraction of J/PSi produced in B-hadron decays from proton-proton collisions at a centre-of-mass energy of 7 TeV. The data, with a total integrated luminosity of 2.3 pb-1, cover the J/PSI transverse momentum range from 1 to 70 GeV and |rapidity| &lt; 2.4. The measurement uses the di-muon decay mode and is presented uncorrected for this. This record also contains data on the individual sources of systematic errors not tabulated in the paper.
</br>
</br>
The inclusive J /   ψ   production cross-section and fraction of J  /   ψ   mesons produced in B -hadron decays are measured in proton–proton collisions at s   =   7   TeV with the ATLAS detector at the LHC, as a function of the transverse momentum and rapidity of the J  /   ψ   , using 2.3 pb −1 of integrated luminosity. The cross-section is measured from a minimum p  T   of 1 GeV to a maximum of 70 GeV and for rapidities within | y   |   <   2.4 giving the widest reach of any measurement of J /   ψ production to date. The differential production cross-sections of prompt and non-prompt J /   ψ   are separately determined and are compared to Colour Singlet NNLO   ⋆   , Colour Evaporation Model, and FONLL predictions.
</br>
</br>