<div id="results">
<table>
<tr>
    <td colspan=2 class="titleline">
          <hr style="border-bottom:5px solid #eeeeee; margin-bottom:15px"/>
          {% if data['cdsTitle'] %}
              {{ data['cdsTitle']}}
          {% elif data['Full Title'] %}
              {{ data['Full Title']}}
          {% endif %}
          <hr style="border-top:5px solid #eeeeee; margin-top:15px"/>
{% if data['embargo'] %}
  <P ALIGN=CENTER><B>THIS NOTE IS NOT YET PUBLIC: ACCESS TO THIS PAGE IS CURRENTLY RESTRICTED TO ATLAS CURRENT PHYSICISTS</B></P>
{% endif %}
        <P ALIGN=CENTER><FONT SIZE=-1>{{ data['Ref Code'] }}</FONT></P>
        <P ALIGN=CENTER><FONT SIZE=-1>{{ data['datetag'] }}</FONT></P>
        {% if data['superseded_by_confnote_link'] %}
        <P>
            <table bordercolor=RED cellpadding=5>
                <tr>
                    <td ALIGN=CENTER>These preliminary results are superseded by the following conference note: <br><br>
                        <a HREF="{{ data['superseded_by_confnote_link'] }}"> 
                        {{data['superseded_by_confnote_label']}}</a><br>
                            <font SIZE=-1>These more recent results are based either on the same dataset, or a larger dataset containing these data. They may also use improved analysis techniques or an improved treatment of the uncertainties. ATLAS recommends to use the more recent results.</FONT><br>
                    </TD>
                </TR>
            </TABLE>
        </P>
        {% endif %}
        {% if data['superseded_by_paper_link'] %}
        <P>
            <TABLE BORDERCOLOR=RED CELLPADDING=5>
                <TR>
                    <TD ALIGN=CENTER>These preliminary results are superseded by the following paper: <br><br>
                        <A HREF="{{ data['superseded_by_paper_link'] }}">{{data['superseded_by_paper_label']}}</a><br>
                            <FONT SIZE=-1>ATLAS recommends to use the results from the paper.</FONT><br>
                    </TD>
                </TR>
            </TABLE>
        </P>
        {% endif %}
    </td>
</tr>
<tr><th class="lefttitle">Content</th><th class="righttitle">Preview</th></tr> 

{% if data['cdsId'] %}
<tr><td class="maindocumenttitle"><a HREF="http://cdsweb.cern.ch/record/{{ data['cdsId'] }}"><B>Main document (CDS record)</B></A>{% if data['final_physics_briefing'] %},
    <a HREF="{{ data['final_physics_briefing'] }}"><B>Physics Briefing</B></a>
{% endif %}

</td>
  <td class="maindocumenttitle">
  {% if data['cds_pdf_link'] %} <a HREF="{{ data['cds_pdf_link'] }}"><B>pdf from CDS</B></A>
  {% elif data['local_pdf'] %} <a HREF="{{ data['local_pdf'] }}"><B>Main document</B></A>
  {% endif %}
  </td>
  </tr>
{% elif data['local_pdf'] %}
<tr><td class="maindocumenttitle"><a HREF="{{ data['local_pdf'] }}"><B>Main document</B></A>
</td><td class="maindocumenttitle"></td></tr>
{% endif %}
<tr><td class="maindocumenttitle"><a HREF="#figures">Figures</A>
    {% if data['tables'] %}
        <a HREF="#tables">Tables</a>
    {% endif %} 
    {% if data['auxiliary'] %}
       <a HREF="#auxstuff">Auxiliary Material</a> 
    {% endif %}
</td><td class="maindocumenttitle">-</td></tr>
{% if data['cdsAbstract'] %} 
<tr><td class="auxfiguretitle" colspan=2> <a name="">Abstract</a></td></tr>
<tr><td class="legend" colspan=2> {{ data['cdsAbstract'] }} </td></tr>
{% endif %} 
<tr><td class="auxfiguretitle" colspan=2> <a name="figures">Figures</a></td></tr>
