{% if data['jinja_auxs'] %}
<tr><td class="auxfiguretitle" colspan=2> <a name="auxstuff">Auxiliary figures and tables</a></td></tr>    
{% for image in data['jinja_auxs'] %}
        <tr>
            <td class="legend">
                <I>
                    {% if image['prefix'] == "figaux" %}
                        Figure
                    {% else %}
                        Table
                    {% endif %}
                {{ image['number'] }}</I>:<BR>{{ image['caption'] }}
                <BR> <hr style="border-top:1px dotted #aaaaaa; margin-top:10px; width:100%"/>
                {% if image['png'] %}
                    <a href="{{ image['name'] }}.png">png ({{ image['png_size'] }})</a>&nbsp;
                {% endif %}
                {% if image['eps'] %}
                    <a href="{{ image['name'] }}.eps">eps ({{ image['eps_size'] }})</a>&nbsp;
                {% endif %}
                {% if image['pdf'] %}
                    <a href="{{ image['name'] }}.pdf">pdf ({{ image['pdf_size'] }})</a>&nbsp;
                {% endif %}
                <BR> 
                {% if image['preliminary_image'] %}
                    <a href="{{ image['name'] }}_PRELIMINARY.data">(data)</a>
                {% endif %}
            </td>
            <td class="figure"><a href="{{ image['name'] }}.png"><IMG SRC=".thumb_{{ image['name'] }}.png"></a></td>
        </tr>
    {% endfor %}
{% endif %}