<div id="results">
<table>
<tr><td colspan=2 class="titleline">
  <hr style="border-bottom:5px solid #eeeeee; margin-bottom:15px"/>
  {{ data['Full Title'] }}
  <hr style="border-top:5px solid #eeeeee; margin-top:15px"/>
{% if data['embargo'] %}
  <P ALIGN=CENTER><B>THIS NOTE IS NOT YET PUBLIC: ACCESS TO THIS PAGE IS CURRENTLY RESTRICTED TO ATLAS CURRENT PHYSICISTS</B></P>
{% endif %}
{% if data['publication_label']  %}
    <P ALIGN=CENTER>
        <A HREF="{{ data['publication_link'] }}">
            <I><FONT SIZE=+1>
            {{ data['publication_label'] }}
            </FONT></I>
        </A>
    </P>
{% endif %}
{% if data[erratum_tag] %}
    <P ALIGN=CENTER><FONT SIZE=-1><I><A HREF="{{ data['erratum_tag'] }}">Erratum</A></I></FONT></P>
{% endif %}
    <P ALIGN=CENTER><FONT SIZE=-1>{{ data['datetag'] }}</FONT></P>
</td></tr>
<tr><td class="contact">
Contact: <a href="mailto:atlas-{{ data['contact_email_tag'] }}@cern.ch">ATLAS {{ data['contact_label_tag'] }}</a>
</td></tr>
<tr><th class="lefttitle">Content</th><th class="righttitle">Preview</th></tr> 
{% if data['arxiv_label_tag'] %}
    <tr><td class="maindocumenttitle">e-print <a HREF="{{ data['arxiv_link_tag'] }}"><B>{{ data['arxiv_label_tag'] }}</B></A>{% if data['final_physics_briefing'] %}, 
        <a HREF="{{ data['final_physics_briefing'] }}"><B>Physics Briefing</B></a>
        {% endif %}
    </td><td class="maindocumenttitle"><a HREF="{{ data['pdf_link_tag'] }}"><B>pdf from arXiv</B></A></td></tr>
{% else %}
        {% if data['final_physics_briefing'] %}
            <tr><td class="maindocumenttitle"><a HREF="{{ data['final_physics_briefing'] }}"><B>Physics Briefing</B></a>
            </td><td class="maindocumenttitle">-</td></tr>
        {% endif %}

{% endif %}
{% if data['inspire_link_tag'] %}
    <tr><td class="maindocumenttitle"><a HREF="{{ data['inspire_link_tag'] }}"><B>Inspire record</B></A>
    </td><td class="maindocumenttitle">-</td></tr>
{% endif %}
{% if data['HepData'] %}
    <tr><td class="maindocumenttitle"><a HREF="{{ data['HepData'] }}"><B>Data points</B></A></td><td class="maindocumenttitle">-</td></tr>
{% endif %}
{% if data['hepdata_file'] %}
    <tr><td class="maindocumenttitle"><a HREF="./hepdata_info.pdf"><B>Plots and Tables of HEPDATA information</B></A></td><td class="maindocumenttitle">-</td></tr>
{% endif %}
{% if data['Rivet'] %}
    <tr><td class="maindocumenttitle"><a HREF="{{ data['Rivet'] }}"><B>Rivet analysis routine</B></A></td><td class="maindocumenttitle">-</td></tr>
{% endif %}
<tr><td class="maindocumenttitle"><a HREF="#figures">Figures</A>
{% if data['tables'] %}
    <a href="#tables">Tables</a>
{% endif %} 
{% if data['auxiliary'] %}
    <a href="#auxstuff">Auxiliary Material</a>
{% endif %} 
</td><td class="maindocumenttitle">-</td></tr>
{% if data['cdsAbstract'] %}
    <tr><td class="auxfiguretitle" colspan=2> <a name="">Abstract</a></td></tr>
    <tr><td class="legend" colspan=2>{{ data['cdsAbstract'] }}</td></tr>
{% endif %}
<tr><td class="auxfiguretitle" colspan=2> <a name="figures">Figures</a></td></tr>
