</TABLE>
</div>
<center><img src="https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/Logos/ATLAS-logo.jpg" width=200/></center><hr style="border-top:1px solid #ffffff; margin-top:13px; margin-bottom:5px"/>
<font color="#999999" size="-1"><center>© {{ data['data_copyright']}} CERN for the benefit of the ATLAS Collaboration.</center></font>
<font color="#999999" font size="-1"><center>Reproduction of the article, figures and tables on this page is allowed as specified in the <a href="https://creativecommons.org/licenses/by/4.0/legalcode" style="color: #999999; TEXT-DECORATION: underline">CC-BY-4.0</a> license.</center></font></br>
<font color="#999999" size="-1"><center>{{ data['data_now'] }}</center></font></br>
<p/>
</div><!-- /patternBottomBar-->
</body>
</html>
