{% if data['jinja_animated'] %}
<tr><td class="auxfiguretitle" colspan=2> <a name="animated">Animated plots</a></td></tr>    
    {% for image in data['jinja_animated'] %}
        <tr>
            <td class="legend">
                <I>animated plot {{ image['number'] }}</I>:</BR>{{ image['caption'] }}
                </BR> <hr style="border-top:1px dotted #aaaaaa; margin-top:10px; width:100%"/>
                </BR> 
            </td>
            <td class="figure"><a href="{{ image['name'] }}.gif"><IMG SRC="{{ image['name'] }}.gif" width=240/></a></td>
        </tr>
    {% endfor %}
{% endif %}