<div id="results">
<table>
<tr><td colspan=2 class="titleline">
  <hr style="border-bottom:5px solid #eeeeee; margin-bottom:15px"/>
  {{ data['title'] }} 
  <hr style="border-top:5px solid #eeeeee; margin-top:15px"/>
<P ALIGN=CENTER><FONT SIZE=-1> {{ data['date'] }} </FONT></P></td></tr>
<tr><th class="lefttitle">Content</th><th class="righttitle">Preview</th></tr> 
<tr><td><FONT SIZE=-1>{{ data['intro'] }}</FONT></td></tr><tr><td class="auxfiguretitle" colspan=2> <a name="figures">Figures</a></td></tr>